version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: macrohub-postgres
    environment:
      POSTGRES_DB: macroanalyzer
      POSTGRES_USER: macrouser
      POSTGRES_PASSWORD: macropassword
    ports:
      - "31274:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  pgdata:
